---
  layout: default
---


<!-- ====================================== -->
<header id="navbar">
 <div class="navbar nav-shadow navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <div class="small-logo-container">
         <a class="small-logo" href="#">elenoidDesign</a>
       </div>
     </div>
     <div class="navbar-collapse collapse">

       <ul class="nav navbar-nav navbar-right">
         <li class="active"><a href="index.html">Home</a></li>
         <li><a href="preis.html">Preis</a></li>
         <li><a href="#">Über</a></li>
         <li><a href="#">FAQ</a></li>
       </ul>
     </div>
   </div>
 </div>

 <div class="container-fluid big-logo-row">
   <div class="container">
     <div class="row">
       <div class="col-xs-push-1 col-xs-10 big-logo-container">
         <h1 class="big-logo">elenoidDesign</h1>
       </div>
     </div>
   </div>
 </div>
</header>
<!-- ====================================== -->




<!-- ====================================== -->
<section id="sub-headline">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h2 class="js-fadeInUp">
           <span>Eine </span><span class="proWeb-text">professionelle Webseite </span>
           <span>für Ihr/e</span>
           <div class="rw-words rw-words-1">
             <span>Unternehmen</span>
             <span>Portfolio</span>
             <span>Bewerbung</span>
             <span>Blog</span>
             <span>Hobby</span>
           </div>
         </h2>
     </div>
   </div>
  </div>
</section>
<!-- ====================================== -->


<!-- ====================================== -->
<section id="preview">
  <div class="container">
    <img src="/img/devices.png" alt="preview-devices-sanvitech">
  </div>
</section>
<!-- ====================================== -->

<style media="screen">
  .dummy{
    margin-top: 200px;
  }
</style>

<!-- ====================================== -->
<section id="introduction-text">
  <div class="container">
    <h1>Ihre Webpräsents ist meine Leidenschaft</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        {% capture x %}
        {% include_relative _includes/intro-text-left.md %}
        {% endcapture %}{{ x | markdownify }}
      </div>
      <div class="col-md-6">
        {% capture x %}
        {% include_relative _includes/intro-text-right.md %}
        {% endcapture %}{{ x | markdownify }}
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="/img/desktop2.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- ====================================== -->




 <!-- ====================================== -->
<section id="vitruvian-man">
  <div class="vitruvian-man__stripe"></div>
  <div class="vitruvian-man__circle">
    <div class="vitruvian-man__img">
      <div class="vitruvian-man__box"></div>
    </div>
  </div>
</section>
 <!-- ====================================== -->


 <!-- ====================================== -->
 <section id="buttons-sidepage">
   <div class="container">
     <div class="row">
       <div class="col-sm-3">
         <div class="introduction-text__icon-box">
           <a href="#">Preis</a>
         </div>
       </div>
       <div class="col-sm-3">
         <div class="introduction-text__icon-box">
           <a href="#">Über</a>
         </div>
       </div>
       <div class="col-sm-3">
         <div class="introduction-text__icon-box">
           <a href="#">FAQ</a>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- ====================================== -->



  <!-- ====================================== -->
  <section id="working-method">
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-3">
          <h1>Schnell</h1>
          {% capture x %}
          {% include_relative _includes/schnell-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
        <div class="col-md-3">
          <h1>Sicher</h1>
          {% capture x %}
          {% include_relative _includes/sicher-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
        <div class="col-md-3">
          <h1>Solide</h1>
          {% capture x %}
          {% include_relative _includes/solide-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
        <div class="col-md-3">
          <h1>Support</h1>
          {% capture x %}
          {% include_relative _includes/support-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
      </div>

        <div class="row">
          <div class="col-md-3">
            <div class="working-method__icon-box working-method__icon-box--fast">
              {% octicon dashboard height:100% width:100% %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="working-method__icon-box working-method__icon-box--safe">
              {% octicon shield height:100% width:100% %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="working-method__icon-box working-method__icon-box--solid">
              {% octicon checklist height:100% width:100% %}
            </div>
          </div>
          <div class="col-md-3">
            <div class="working-method__icon-box working-method__icon-box--support">
              {% octicon comment-discussion height:100% width:100% %}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
    </div>
  </section>
  <!-- ====================================== -->





  <!-- ====================================== -->
  <section id="webdev-tools">
    <div class="container">
      <h1>Aktuellste Technologien</h1>
      <hr>
    </div>

    <div class="container container--logos">
      <div class="row">
        <div class="col-lg-6 col-xs-12 col-md-8 col-md-push-2 col-lg-push-0">
          <img src="/img/html5-badge.png" alt="">
          <img src="/img/html5.png" alt="" class="margin-50">
          <img src="/img/css3-badge.png" alt="">
          <img src="/img/css3.png" alt=""  class="margin-50">
          <img src="/img/javascript.png" alt="">
        </div>
        <div class="col-lg-6 col-xs-12 col-md-8 col-md-push-2 col-lg-push-0">
          <img src="/img/jekyll.png" alt="" class="margin-50">
          <img src="/img/sass.png" alt="" class="margin-50">
          <img src="/img/logo-bootstrap.png" alt="">
        </div>
        <div class="col-lg-6 col-xs-12 col-md-8 col-md-push-2 col-lg-push-0">
          <img src="/img/cloudcannon.png" alt="" class="margin-50">
          <img src="/img/aws.png" alt="" class="margin-50">
          <img src="/img/https.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- ====================================== -->



  <!-- ====================================== -->
  <section id="reference">
    <div class="container">
      <h1>Referenzen</h1>
      <div class="row">
        <div class="col-md-4">
          <figure class="ref-box"><img src="/img/sanvitech-logo-profil.jpg" alt="sanvitech-logo"/>
            <figcaption>
              <h2>Victor  <span> Alves</span></h2>
            </figcaption><a href="http://sanvitech.ch/"></a>
          </figure>
        </div>
        <div class="col-md-4">
          <figure class="ref-box"><img src="/img/elenoid-logo-preview.png" alt="elenoid-logo"/>
            <figcaption>
              <h2>Kommt  <span> bald</span></h2>
            </figcaption><a href="#"></a>
          </figure>
        </div>
        <div class="col-md-4">
          <figure class="ref-box"><img src="/img/elenoid-logo-preview.png" alt="elenoid-logo"/>
            <figcaption>
              <h2>Kommt  <span> bald</span></h2>
            </figcaption><a href="#"></a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- ====================================== -->





  <!-- ====================================== -->
  <section id="contact">
    <div class="container">
      <h1>Kontaktieren Sie mich...</h1>
      <div class="row">
        <div class="col-md-12 contact__title">
        </div>
        <div class="col-md-12 contact__img">
          <img src="/img/da-vinci-helicopter.png" alt="">
        </div>

        <div class="col-md-12">
          <ul>
            <li>Pascal Zwicker</li>
            <li>077/459/27/80</li>
            <li>elenoiddesign@gmail.com</li>
          </ul>
        </div>
      </div>
      <!-- maps -->
      <div class="row">
        <div class="col-md-push-2 col-md-8 contact__maps">
          <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVTUomXpNGQyhbddvwF91i4XDZcXT38Po&q=place_id:ChIJI19kIiPhmkcRA75yVkTzk0g&zoom=10">
          </iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- ====================================== -->

  <!-- ====================================== -->
  <!-- ====================================== -->
