---
  layout: default
---


<!-- ====================================== -->
<header id="navbar">
 <div class="navbar nav-shadow navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <div class="small-logo-container">
         <a class="small-logo" href="#">elenoidDesign</a>
       </div>
     </div>
     <div class="navbar-collapse collapse">

       <ul class="nav navbar-nav navbar-right">
         <li class="active"><a href="#">Home</a></li>
         <li><a href="preis.html">Preis</a></li>
         <li><a href="#">Über</a></li>
         <li><a href="#">FAQ</a></li>
       </ul>
     </div>
   </div>
 </div>

 <div class="container-fluid big-logo-row">
   <div class="container">
     <div class="row">
       <div class="col-xs-12 big-logo-container">
         <h1 class="big-logo">elenoidDesign</h1>
       </div>
     </div>
   </div>
 </div>
</header>
<!-- ====================================== -->




<!-- ====================================== -->
<section id="sub-headline">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <h2 class="js-fadeInUp">
           <span>Eine </span><span class="proWeb-text">professionelle Webseite </span>
           <span>für Ihr/e</span>
           <div class="rw-words rw-words-1">
             <span>Unternehmen</span>
             <span>Portfolio</span>
             <span>Bewerbung</span>
             <span>Urlaubserinnerung</span>
             <span>Hobby</span>
           </div>
         </h2>
     </div>
   </div>
  </div>
</section>
<!-- ====================================== -->


<!-- ====================================== -->
<section id="preview">
  <div class="container">
    <img src="/img/devices.png" alt="preview-devices-sanvitech">
  </div>
</section>
<!-- ====================================== -->

<style media="screen">
  .dummy{
    margin-top: 200px;
  }
</style>

<!-- ====================================== -->
<section id="introduction-text">
  <div class="container">
    <div class="row">
      <h1>Ihre Webpräsents ist meine Leidenschaft</h1>
      <hr>
      <div class="col-md-6">
        {% capture x %}
        {% include_relative _includes/intro-text-left.md %}
        {% endcapture %}{{ x | markdownify }}
      </div>
      <div class="col-md-6">
        {% capture x %}
        {% include_relative _includes/intro-text-right.md %}
        {% endcapture %}{{ x | markdownify }}
      </div>
      <div class="clearfix"></div>
      <hr>
    </div>
  </div>
</section>
<!-- ====================================== -->




 <!-- ====================================== -->
<section id="vitruvian-man">
  <div class="vitruvian-man__stripe"></div>
  <div class="vitruvian-man__circle">
    <div class="vitruvian-man__img">
      <div class="vitruvian-man__box"></div>
    </div>
  </div>
</section>
 <!-- ====================================== -->



  <!-- ====================================== -->
  <section id="working-method">
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-md-3">
          <h1>Schnell</h1>
          {% capture x %}
          {% include_relative _includes/schnell-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
        <div class="col-md-3">
          <h1>Sicher</h1>
          {% capture x %}
          {% include_relative _includes/sicher-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
        <div class="col-md-3">
          <h1>Solide</h1>
          {% capture x %}
          {% include_relative _includes/solide-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
        <div class="col-md-3">
          <h1>Support</h1>
          {% capture x %}
          {% include_relative _includes/support-maintext.md %}
          {% endcapture %}{{ x | markdownify }}
        </div>
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>
  </section>
  <!-- ====================================== -->





  <!-- ====================================== -->
  <section id="reference">
    <div class="container">
      <h1>Referenz</h1>
      <div class="row">
        <div class="col-md-4">
          <figure class="ref-box"><img src="/img/sanvitech-logo-profil.jpg" alt="sanvitech-logo"/>
            <figcaption>
              <h2>Victor  <span> Alves</span></h2>
            </figcaption><a href="http://sanvitech.ch/"></a>
          </figure>
        </div>
        <div class="col-md-4">
          <figure class="ref-box"><img src="/img/elenoid-logo-preview.png" alt="elenoid-logo"/>
            <figcaption>
              <h2>Kommt  <span> bald</span></h2>
            </figcaption><a href="http://sanvitech.ch/"></a>
          </figure>
        </div>
        <div class="col-md-4">
          <figure class="ref-box"><img src="/img/elenoid-logo-preview.png" alt="elenoid-logo"/>
            <figcaption>
              <h2>Kommt  <span> bald</span></h2>
            </figcaption><a href="http://sanvitech.ch/"></a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- ====================================== -->





  <!-- ====================================== -->
  <section id="contact">
    <div class="container">
        <div class="col-md-12 contact__title">
          <h1>Kontaktieren Sie mich...</h1>
        </div>

        <div class="row">
        <div class="col-md-3">
          <img src="/img/da-vinci-helicopter.png" alt="">
        </div>
        <div class="col-md-6">
          <ul>
            <li>Pascal Zwicker</li>
            <li>077/459/27/80</li>
            <li>elenoiddesign@gmail.com</li>
          </ul>
        </div>
        </div>
    </div>
  </section>
  <!-- ====================================== -->
