

// =====================================
//  - Kontakt
// =====================================
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

#contact{
  background-color: $dark-violet;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -3px 4px;
  background: linear-gradient(0deg, #57358c -50%, #3a235d 100%);
  padding-top: 60px;
  padding-bottom: 140px;

  h1{
    display: inline;
    color: #eee;
    margin-left: -15px;
    font-family: koblenz;
    font-size: 40px;
  }

  .contact__title{
    margin-bottom: 80px;
  }

  img{
    margin: 0 auto;
    display: block;
    height: 100%;
  }

  .contact__img{
    height: 200px
  }

  ul{
    display: inline;
    height: 200px;
    vertical-align: middle;
  }

  li{
    font-family: 'Raleway', Arial, sans-serif;
    list-style: none;
    text-align: center;
    color: #fff;
    font-size: 32px;
    letter-spacing: 4px;
  }
}
