

// =====================================
//  - Devices preview
// =====================================

#preview{
  height: 250px;
  div{
    height: 100%;
    padding: 0 50px;
    position: relative;
  }
  img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
