

// =====================================
//  - General
//
//  https://www.toptal.com/designers/subtlepatterns/seamless-paper-texture/
// =====================================


// Schriften
@font-face {
  font-family: "koblenz";
  src: url("/../fonts/Koblenz-Serial-Regular.ttf");
}


body{
  background-color: #fdfdfd;
  font-family: 'Nunito Sans', sans-serif;
  background-image: url(/img/crossword.png);
}

p,ul,li{
  color: #555;
}

hr{
  border-top: 1px solid #ddd;
}
