

// =====================================
//  - General
// =====================================


@font-face {
  font-family: "koblenz";
  src: url("/../fonts/Koblenz-Serial-Regular.ttf");
}

body{
  background-color: #fdfdfd;
  font-family: 'Nunito Sans', sans-serif;
  p{
    color: #555;
  }
}
