

// =====================================
//  - Working-method
//
//  backup für schriftart koblenz
// =====================================

#introduction-text{
  margin-top: 200px;

  h1{
    display: inline;
    color: $dark-violet;
    font-family: koblenz;
    font-size: 40px;
  }
  hr:first-of-type {
    margin-top: 20px;
  }
  p{
    margin-left: 10px;
  }

  i{
    bottom: 6px;
    color: #3a235d;
    position: relative;
    font-size: 15px;
  }

  img{
    display: block;
    border: 1px solid #444;
    margin: 0 auto;
    margin-top: 55px;
    height: auto;
    width: 100%;
  }
}
// @media(min-width: 768px){
//   #introduction-text{
//     margin-top: 150px;
//   }
// }

@media(min-width: 768px){
  #introduction-text{
    margin-top: 150px;
  }
}

@media(min-width: 1200px){
  #introduction-text{
    margin-top: 200px;
  }
}
