

// =====================================
//  - Working-method
//
//  backup für schriftart koblenz
// =====================================

#introduction-text{
  margin-top: 200px;

  h1{
    display: inline;
    color: $dark-violet2;
    font-family: koblenz;
    font-size: 40px;
  }
  hr:first-of-type {
    margin-top: 20px;
  }
  p{
    margin-left: 10px;
  }

  i{
    bottom: 6px;
    color: #3a235d;
    position: relative;
    font-size: 15px;
  }

  a{
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 10px 0 0 0;
    font-family: raleway;
    width: 100%;
  }

  .col-md-3:first-of-type {
    margin-left: 12.5%;
  }

  .introduction-text__icon-box{
    border-radius: 2px;
    border: 4px $dark-violet solid;
    background-color: $dark-violet2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 2px;
    height: 55px;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 10px;
    opacity: 0.95;
  }
}
