

// =====================================
//  - Vitruvian man
// =====================================

#mona-lisa{
  margin-top: 150px;
  position: relative;
  height: 177px;

  .mona-lisa__box{
    background-color: $body-color;
    margin: 0 auto;
    padding: 0 14px;
    position: relative;
    height: 100%;
    width: 170px;
    z-index: -1;
  }


  .mona-lisa__img{
    background-image: url(/img/mona-lisa.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .mona-lisa__stripe{
    background-color: #3a235d;
    background-image: radial-gradient(circle, #3a235d 0%, #57358c 120%);
    position: absolute;
    height: 100%;
    z-index: -1;

    left: 0;
    right: 0;
    bottom: 0;
  }
}
