

// =====================================
//  - Referenz
// =====================================



#reference{
  background-image: radial-gradient(circle,
  rgba(236, 233, 240, 0.5) 0%, rgba(200, 190, 216, 0.5) 120%);
  margin-top: 250px;
  padding-top: 100px;
  padding-bottom: 120px;

  h1{
    display: inline;
    color: #fff;
    font-family: koblenz;
    font-size: 40px;
  }

  .row{
    border: #fff 2px solid;
    padding: 20px 0;
    margin: 0;
  }

  figure.ref-box {
    background-color: #fff;
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: auto;
    min-width: 220px;
    max-width: 310px;
    height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 4px;
  }
  figure.ref-box * {
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
  }
  figure.ref-box img {
    width: 100%;
    min-height: 100%;
    position: relative;
    opacity: 0.4;
  }
  figure.ref-box figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  figure.ref-box h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    background: $dark-violet2;
    transform: translate(0, -50%);
    padding: 12px 10px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
  }
  figure.ref-box h2 span {
    font-weight: 800;
  }
  figure.ref-box:before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    background: #ffffff;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  figure.ref-box a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  figure.ref-box.blue {
    background: #123851;
  }

  figure.ref-box.blue h2 {
    background: #0a212f;
  }

  figure.ref-box:hover img,
  figure.ref-box.hover img {
    opacity: 1;
    transform: scale(1.1);
  }
  figure.ref-box:hover h2,
  figure.ref-box.hover h2 {
    top: -50%;
  }
  figure.ref-box:hover:before,
  figure.ref-box.hover:before {
    transform: translateY(150%);
  }
}
