

// =====================================
//  - Side custom navbar
//
//  Abänderung der Main Navbar
// =====================================

.small-logo-container {
  padding-top: 0px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.navbar{
  background-color: #2b803e;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
