

// =====================================
//  - Working-method
//
//  backup für schriftart koblenz
// =====================================

#working-method{
  margin-top: 220px;

  h1{
    color: $dark-violet2;
    font-family: koblenz;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  p{
    margin-left: 10px;
  }
  i{
    bottom: 6px;
    color: #3a235d;
    position: relative;
    font-size: 15px;
  }

  svg{
    padding: 13px;
    fill: #fdfdfd;
  }
  .octicon-checklist{
    padding-top: 9px;
    padding-bottom: 7px;
  }
  .octicon-comment-discussion{
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .working-method__icon-box{
    border-radius: 2px;
    border: 4px $dark-violet solid;
    background-color: $dark-violet2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 2px;
    height: 60px;
    margin-top: 30px;
    margin-left: 10px;
    opacity: 0.95;
  }
}
