

// =====================================
//  - Working-method
//
//  backup für schriftart koblenz
// =====================================

#working-method{
  margin-top: 120px;
  
  h1{
    display: inline;
    color: #3a235d;
    font-family: koblenz;
    font-size: 40px;
  }
  p{
    margin-left: 10px;
  }
  i{
    bottom: 6px;
    color: #3a235d;
    position: relative;
    font-size: 15px;
  }
}
